**/node_modules

docs/**
./docs/**

docs/*
./docs/*

!docs/.vuepress
!./docs/.vuepress

!docs/.vuepress/
!./docs/.vuepress/

!docs/.vuepress/*
!./docs/.vuepress/*

!docs/.vuepress/**
!./docs/.vuepress/**

!.*js
!./.*js
