/**
 * https://vuepress.vuejs.org/config/#index-styl
 */

// @require './palette.styl';

/* https://www.256kilobytes.com/content/show/4399/get-these-dependencies-off-my-lawn-5-tasks-you-didnt-know-could-be-done-with-pure-html-and-css */
/* https://hn.nuxtjs.org/item/19133953 */

html, body {
  // font-family: 'Alegreya', serif;
  font-family: 'Alegreya Sans', sans-serif;
  // font-family: 'Alegreya Sans SC', sans-serif;
  // font-family: 'Alegreya SC', serif;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  // scroll-behavior: smooth;
}

.content {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 14px;
}

h1, h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

// #app > div.theme-container.no-sidebar > header > div.links > nav > div:nth-child(1) > a
.links > .nav-links > .nav-item > .nav-link {
  font-family: 'Alegreya Sans SC', sans-serif;
}

main > header > .description {
  font-family: 'Alegreya Sans SC', sans-serif;
}














// * {
//   border: 1px solid grey;
// }

// // // $contentClass = '.theme-default-content';

// // @media (min-width: 959px) {
// @media (min-width: 1107px) {
//   {$contentClass}:not(.custom) {
//     // Make this elements fill the entire width.
//     // max-width: calc(100% - 6.5rem);
//     // max-width: calc(740px + 300px);
//     max-width: 64%;
//   }
// }

// @media (min-width: 959px) {
//   {$contentClass}:not(.custom) {
//     box-sizing: border-box;
//     // margin: 0 !important;
//     // max-width: 64%;
//     max-width: -(20rem);
//     // max-width: "calc(100% - %s)" % (20rem);
//   }
// }

// {$contentClass}:not(.custom) {
//   // box-sizing: border-box;
//   box-sizing: content-box;
// }

// // #app > div.theme-container > main > footer
// @media (min-width: 959px) {
//   .page-edit {
//     max-width: calc(100% - 9rem);
//   }
// }

// // .#app > div.theme-container > main > div.page-nav
// @media (min-width: 959px) {
//   .page-nav {
//     max-width: calc(100% - 9rem);
//   }
// }


// .theme-default-content:not(.custom) {
//     margin: 0 !important;
// }

// .theme-default-content:not(.custom) {
//     max-width: 740px;
//     margin: 0 auto;
//     padding: 2rem 2.5rem;
// }

// @media (max-width: 419px)
// .theme-default-content:not(.custom) {
//     padding: 1.5rem;
// }

// @media (max-width: 959px)
// .theme-default-content:not(.custom) {
//     padding: 2rem;
// }

// .page {
//   .page-nav, .theme-default-content:not(.custom) {
//     // Make this elements fill the entire width.
//     min-width: 64%;
//   }
// }

// html, body, #app, .theme-container {
//   height: 100%;
// }

// .page {
//   .page-nav, .theme-default-content:not(.custom) {
//     // Make this elements fill the entire width.
//     max-width: 100%;
//   }

//   .page-edit {
//     // Make this elements fill the entire width.
//     max-width: 100%;

//     // Align `Last Updated: 9/13/2019, 3:44:56 PM` to the left by unsetting it.
//     .last-updated {
//       float: unset;
//     }
//   }
// }

// .page-edit.footer {
//   // Make this elements fill the entire width.
//   max-width: 100%;
// }






// /* .nav-item > a
//   text-transform: uppercase;
//   font-weight: bold; */
// html body
//   /*font-family 'Roboto', sans-serif;
//   font-family 'Roboto Condensed', sans-serif;
//   font-family 'Roboto Slab', serif;
//   font-family 'Roboto Mono', monospace;*/
//   font-family: 'Raleway', sans-serif;
//   // font-family: 'Merriweather', serif;
//   // font-family: 'Reem Kufi', sans-serif;
//   font-size: 16px;
//   scroll-behavior: smooth;

// .content
//   /*font-family 'Roboto', sans-serif;
//   font-family 'Roboto Condensed', sans-serif;
//   font-family 'Roboto Slab', serif;
//   font-family 'Roboto Mono', monospace;*/
//   font-family: 'Raleway', sans-serif;
//   // font-family: 'Merriweather', serif;
//   // font-family: 'Reem Kufi', sans-serif;
//   font-size: 14px;
//   /* font-size 8px; */

// /* .nav-item > a
//   text-transform: uppercase;
//   font-weight: bold; */


// /**
//  * Install https://thisismanta.github.io/stylus-supremacy/#vscode for better coding experience.
//  */
// @require './palette.styl';
// // @require './fonts_open-sans.styl'; // Don't use this do, see the comments at the beginning of the `./fonts_open-sans.styl` file for the reasons.
// @require './fonts_metropolis.styl';
// @require './fonts_equip.styl';

// html, body {
//   font-family: 'Metropolis', 'Arial', sans-serif;
//   -webkit-font-smoothing: subpixel-antialiased;
//   font-size: 14px;
// }

// html, body, #app, .theme-container {
//   height: 100%;
// }

// .page {
//   .page-nav, .theme-default-content:not(.custom) {
//     // Make this elements fill the entire width.
//     max-width: 100%;
//   }

//   .page-edit {
//     // Make this elements fill the entire width.
//     max-width: 100%;

//     // Align `Last Updated: 9/13/2019, 3:44:56 PM` to the left by unsetting it.
//     .last-updated {
//       float: unset;
//     }
//   }
// }

// .page-edit.footer {
//   // Make this elements fill the entire width.
//   max-width: 100%;
// }
